@import "../../../../../assets/styles/global";

.payServices{
  @include displaySettings($justify: space-between);
  list-style-type: none;
  margin: 12px 0 0;
  padding: 0;

  &__item{
    margin: 0;
    padding: 0;
    background-color: $sectionsBg;
    border-radius: 20px;
    height: 40px;
    width: 70px;
    @include displaySettings();
  }

}