@import "../../../../../assets/styles/global";

.colors{
  text-transform: uppercase;

  &__list{
    @include displaySettings($justify: start);
    gap: 4px;
  }

  &__title{
    @include fontSet($ff: $headingsFont, $fs: $fs-14, $fw: $fw-Bold);
    margin: 0 0 6px;
  }

  &__button{
    position: relative;
    @include size(40px, 40px);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    margin: 0;
    @include transitionSetting();

    &:hover{
      transform: scale(110%);
    }

    &_active{
      &:hover{
        transform: none;
      }

      outline: 1px solid #626262;
    }

    &_color{
      @include size(34px, 34px);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
}