@import "../../../../assets/styles/global";

.slider{
  position: absolute;
  opacity: 0;
  @include transitionSetting();
  max-height: 370px;

  &_selected{
    opacity: 1;
  }

  &__image{
    width: 100%;
  }


}

