@import "../../../../assets/styles/global";

.timer{
  @include displaySettings($justify: space-between);
  margin-top: 15px;
  padding: 0 10px;

  &__heading{
    @include displaySettings();
    gap: 8px;
  }

  &__icon{
    @include size(22.5px, 22.5px);
  }

  &__title{
    color: $timerText;
    margin: 0;
    @include fontSet($fs: $fs-12, $fw: $fw-Medium);
  }

  &__time{
    @include displaySettings();
    gap: 9px;
    @include fontSet($ff: $headingsFont, $fs: $fs-16, $fw: $fw-Bold);
    color: $timerText;
  }
}