@import "../../assets/styles/global";

.headerOffer{
  width: 100%;
  background-image: $offersBg;
  color: $globalWhite;
  text-align: center;
  padding: 10px;
  @include fontSet($fw: $fw-SemiBold);
}