/*-----------Colors------------*/

// Main Colors

$globalBlack: #0B0B0B;
$globalWhite: #fff;

// Background Colors

$offersBg: linear-gradient(to right, #69B1C9, #6081C3, #5558AF);
$widgetBg: linear-gradient(to bottom, #FFFFFF, #0B0B0B);
$sectionsBg: #F7F7F7;

// Headphones Colors

$hfGrey: #ADACB1;
$hfBlack: #282828;
$hfPink: #ECAAA7;
$hfLight: #ECE5DD;

// Text Colors

$primeText: #282828;
$secondaryText: #0B0B0B;
$offerText: #F65D81;


// Button Colors

$primeBtnColor: #282828;
$arrowsBg: #DCDCDC;

/*-----------End of Colors------------*/


/*-----------Fonts------------*/

$mainTextFont: 'Gilroy', sans-serif;
$headingsFont: 'NeuzeitGrotesk', sans-serif;

/*-----------End of Fonts------------*/


/*-----------Font Weights------------*/

$fw-950: 950;
$fw-900: 900;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;

/*-----------End of Font Weights------------*/


/*-----------Font Sizes------------*/

$fs-32: 32px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;

/*-----------End of Font Sizes------------*/

/*-----------Window Breakpoints------------*/

// Main Breakpoints

$Mobile: 390px;