@import "../../../../assets/styles/global";

.btnSlider{
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
  position: absolute;
  padding: 0;
  cursor: pointer;

  &__left{
    padding-left: 6px;
  }

  &__right{
    padding-right: 6px;
    right: 0;
  }
}
